/* Estilos para el formulario de inicio de sesión */
.form-login {
max-width: 400px;
margin: 40px auto;
margin-bottom: 400px ;
margin-top: 40px;
padding: 70px;
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilos para etiquetas de formularios */
label {
  font-size: 1.2rem;
  color: #333;
}
/* Estilos para campos de entrada en formularios */
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilos para el formulario de contacto */
.contact-box {
max-width: 400px;
margin: 40px auto;
margin-bottom: 10px ;
margin-top: 40px;
padding: 70px;
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}