@media screen and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  h3,
  h4,
  .h2-index,
  .container .image-box h5,
  .form-login,
  .contact-box {
    font-family: 'Kalam', cursive;
    padding: 10px;
    margin: 10px auto;
    font-size: small;
  }

  
  h2 {
    font-size: 1.7rem;
  }

  
  .container .image-box h5 {
    font-size: 1rem;
  }

  
  .image-boxcatalogo .image-box,
  iframe,
  .form-login,
  .contact-box {
    max-width: 100%;
  }
  
  .image-boxcatalogo .image-grid {
    grid-template-columns: 2 repeat(auto-fit, minmax(150px, 1fr));
  }
}