/* Estilos para el encabezado principal */
header {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url(../multimedia/imagenes/zen_path_fondo_nav);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    h1 {
      font-family: 'Shadows Into Light', cursive;
      font-size: 7.5rem;
      color: #03041a;
      padding: 30px;
      margin-top: 40px;
    }
  }
  /* Estilos para los enlaces en la barra de navegación */
  nav {
    background-color: #060216d8;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    
    a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2c2929;
      }
    }
  }
  nav a {
    padding: 8px 10px;
  }
  