iframe {
    display: block;
    margin: 0 auto;
  
    &.footer-video {
      width: 200%;
      height: 200px;
      border: none;
      border-radius: 8px;
    }
  }
  iframe {
    width: 70%;
    height: 450px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
  }